body{
    background-color: rgb(226, 221, 221);
}
.container{
    border: 1px solid rgb(119, 117, 117);
    border-radius: 10%;
    text-align: center;
    width: 20rem;
    height: 15rem;
    background-color: rgb(240, 234, 234);
    margin-top: 10%;
    margin-left: 30%;
    box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
}
#counter-value{
    font-size: 3rem;
    margin: 2rem;
}
#inc-btn, #dec-btn{
    width: 3.5rem;
    height: 2.5rem;
    font-size: 2rem;
    margin: 1rem;
    background-color: navy;
    color: aliceblue;
    cursor: pointer;
}